@media only screen {
	header {
		background-image: url(../../images/banners/banner_11.jpg);
	}
}

@media only screen and (max-width: 768px) {
	header {
		background-image: url(../../images/banners/banner_11_medium.jpg);
	}
}

@media only screen and (max-width: 480px) {
	header {
		background-image: url(../../images/banners/banner_11_small.jpg);
	}
}

