@media only screen {
	header {
		background-image: url(../../images/banners/banner_14.jpg);
	}
}

@media only screen and (max-width: 768px) {
	header {
		background-image: url(../../images/banners/banner_14_medium.jpg);
	}
}

@media only screen and (max-width: 480px) {
	header {
		background-image: url(../../images/banners/banner_14_small.jpg);
	}
}

