@media only screen {
	header {
		background-image: url(../../images/banners/banner_5.jpg);
	}
}

@media only screen and (max-width: 768px) {
	header {
		background-image: url(../../images/banners/banner_5_medium.jpg);
	}
}

@media only screen and (max-width: 480px) {
	header {
		background-image: url(../../images/banners/banner_5_small.jpg);
	}
}


