@media only screen {
	header {
		background-image: url(../../images/banners/banner_21.jpg);
	}
}

@media only screen and (max-width: 768px) {
	header {
		background-image: url(../../images/banners/banner_21_medium.jpg);
	}
}

@media only screen and (max-width: 480px) {
	header {
		background-image: url(../../images/banners/banner_21_small.jpg);
	}
}

