@media only screen {
	header {
		background-image: url(../../images/banners/banner_13.jpg);
	}
}

@media only screen and (max-width: 768px) {
	header {
		background-image: url(../../images/banners/banner_13_medium.jpg);
	}
}

@media only screen and (max-width: 480px) {
	header {
		background-image: url(../../images/banners/banner_13_small.jpg);
	}
}

